body {
  background-color:#559839;
}
.navBar {
  background-color: #478131;
}
h5 {
  margin: 0;
  padding: 0;
}
.listDiv {
  background-color: #ebecf0;
  border-radius: 5px;
}
.mainDiv {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
}
.addListDiv {
  background-color: rgb(218, 218, 218);
  opacity: 70%;
}