*{
  font-family: 'Ubuntu Condensed', sans-serif;
}
body {
  background-color:#287abf;
}
.navBar {
  background-color: #2168a3;
}
h5 {
  margin: 0;
  padding: 0;
}
.listDiv {
  background-color: #ebecf0;
  border-radius: 5px;
}
.mainDiv  {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
}
.addListDiv {
  background-color: #99bedb;
  border: 2px solid white;
}

@media only screen and (max-width: 600px) {
  .mainDiv{
    grid-template-columns:auto;
  }
}

@media only screen and (min-width: 600px) {
  .mainDiv{
    grid-template-columns:auto auto;
  }
}

@media only screen and (min-width: 768px) {
  .mainDiv{
    grid-template-columns:350px 350px 350px;
  }
}

@media only screen and (min-width: 992px) {
  .mainDiv{
    grid-template-columns:350px 350px 350px 350px 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .mainDiv{
    grid-template-columns:350px 350px 350px 350px 350px;

  }
}
