body {
  background-color:#287abf;
}
.navBar {
  background-color: #2168a3;
}
h5 {
  margin: 0;
  padding: 0;
}
.listDiv {
  background-color: #ebecf0;
  border-radius: 5px;
}
.mainDiv {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
}
.addListDiv {
  background-color: #99bedb;
  border: 2px solid white;
  /* opacity: 80%; */
}
*{
  font-family: 'Ubuntu Condensed', sans-serif;
}